/* .home-input {
  width: 350px;
  padding: 10px;
  margin: 0 auto;
} */

/* .home-btn {
  background-color: #ffff;
  color: #000;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 271px;
  padding: 6px;
  margin-top: 12px;
  font-weight: 900;
  font-size: 12px;
} */
